<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/layout :: main-layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tạo phim mới</title>


    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movies">Phim</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo phim
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a href="/admin/movies" class="prev-page">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button type="button" class="btn btn-info px-4">
                            Lưu
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!--Ten phim-->
                                        <div class="form-group">
                                            <label>Tên phim</label>
                                            <input type="text" class="form-control" id="name"/>
                                        </div>
                                        <!--Trailer URL-->
                                        <div class="form-group">
                                            <label>Trailer URL</label>
                                            <input type="text" class="form-control" id="trailerUrl"/>
                                        </div>
                                        <!--Description-->
                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <!--The loai-->
                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple" id="genres">
                                                    <option th:each="genre : ${genres}"
                                                            th:text="${genre.name}"
                                                            th:value="${genre.id}">
                                                        Chiến tranh
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Dao dien-->
                                        <div class="form-group">
                                            <label>Đạo diễn</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple" id="director">
                                                    <option th:each="director : ${directors}"
                                                            th:text="${director.name}"
                                                            th:value="${director.id}">
                                                        Đạo diễn 1
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                        <!--Dien vien-->
                                        <div class="form-group">
                                            <label>Diễn viên</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple" id="actor">
                                                    <option th:each="actor : ${actors}"
                                                            th:text="${actor.name}"
                                                            th:value="${actor.id}">
                                                        Diễn viên 1
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <!--Trang thai-->
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control">
                                                <option value="false">
                                                    Nháp
                                                </option>
                                                <option value="true">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <!--Loai phim-->
                                        <div class="form-group">
                                            <label>Loại phim</label>
                                            <select id="type" class="form-control">
                                                <option value="PHIM_LE">
                                                    Phim lẻ
                                                </option>
                                                <option value="PHIM_BO">
                                                    Phim bộ
                                                </option>
                                                <option value="PHIM_CHIEU_RAP">
                                                    Phim chiếu rạp
                                                </option>
                                            </select>
                                        </div>
                                        <!--Nam phat hanh-->
                                        <div class="form-group">
                                            <label>Năm phát hành</label>
                                            <input type="text" class="form-control" id="releaseYear"/>
                                        </div>
                                        <!--Quoc gia-->
                                        <div class="form-group">
                                            <label>Quốc gia</label>
                                            <select id="country" class="form-control">
                                                <option th:each="country : ${countries}"
                                                        th:text="${country.name}"
                                                        th:value="${country.id}">
                                                    Quốc gia 1
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>


<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script>
        //Initialize Select2 Elements
        $(".select2").select2();

        // Initialize editor
        const easyMDE = new EasyMDE({
            element: document.getElementById("content"),
            spellChecker: false,
            maxHeight: "500px",
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
        });
    </script>
</th:block>
</body>

</html>