<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang chi tiết phim</title>
    <!-- CSS bootstrap -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <!-- CSS FontAwesome -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <!-- CSS myStyle -->
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}"/>
</head>
<body>
<!-- Header -->
<header class="bg-dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">
                <img
                        src="https://motchilltv.io/logo_motchill.png"
                        alt=""
                        class="logo"
                />
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="collapse navbar-collapse justify-content-between"
                    id="navbarNavAltMarkup"
            >
                <div class="navbar-nav">
                    <a class="nav-link active text-white" th:href="@{/home}">Trang chủ</a>
                    <a class="nav-link text-white" th:href="@{/phim-bo}">Phim bộ</a>
                    <a class="nav-link text-white" th:href="@{/phim-le}">Phim lẻ</a>
                    <a class="nav-link text-white" th:href="@{/phim-chieu-rap}">Phim chiếu rạp</a>
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                    <a class="nav-link text-white" href="#">Thể loại</a>
                    <a class="nav-link text-white" href="#">Mua phim</a>
                </div>
                <div>
                    <a href="#" class="text-white text-decoration-none">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Content -->
<section class="py-4">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary text-decoration-none" href="/home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-primary text-decoration-none" href="/phim-bo">Phim bộ</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${movieDetail.name}">Nhím Sonic 2</li>
            </ol>
        </nav>
        <div class="row mt-4">
            <div class="col-3">
                <div class="movie-poster overflow-hidden position-relative rounded">
                    <img
                            id="movie-poster"
                            class="w-100"
                            th:src="${movieDetail.poster}"
                            th:alt="${movieDetail.name}"
                    >
                    <span class="play-icon" data-bs-toggle="modal" data-bs-target="#modal-trailer">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>
            </div>
            <div class="col-9">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0" th:text="${movieDetail.name}">Nhím Sonic 2</h4>
                    <div class="d-flex align-items-center bg-body-tertiary p-1 rounded ms-2">
                        <span class="fw-bold me-1" th:text="${movieDetail.rating}">10</span>
                        <span class="rating-icon text-yellow-300">
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </span>
                    </div>
                </div>
                <div class="p-3 bg-body-tertiary">
                    <div class="row">
                        <div class="col-2"><p>Thể loại</p></div>
                        <div class="col-10">
                            <p>
                                <th:block th:each="genre, iterStart : ${movieDetail.genres}">
                                    <span th:text="${genre.name}"></span>
                                    <span th:if="${!iterStart.last}">, </span>
                                </th:block>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Năm sản xuất</p></div>
                        <div class="col-10"><p th:text="${movieDetail.releaseYear}">2022</p></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Quốc gia</p></div>
                        <div class="col-10" th:text="${movieDetail.country.name}"><p>Nhật Bản</p></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Đạo diễn</p></div>
                        <div class="col-10">
                            <th:block th:each="director, iterStart : ${movieDetail.directors}">
                                <span th:text="${director.name}"></span>
                                <span th:if="${!iterStart.last}">, </span>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Diễn viên</p></div>
                        <div class="col-10">
                            <p>
                                <th:block th:each="actor, iterStart : ${movieDetail.actors}">
                                    <span th:text="${actor.name}"></span>
                                    <span th:if="${!iterStart.last}">, </span>
                                </th:block>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Nội dung phim</p></div>
                        <div class="col-10"><p th:text="${movieDetail.description}">Khi Robotnik tìm cách quay trở về
                            Trái Đất thành công, ông ta có một đồng minh mới là Knuckles hùng mạnh, liệu Sonic và người
                            bạn ới Tails có thể ngăn&nbsp;<span
                                    class="text-primary">Xem thêm</span></p></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center"><a
                            class="d-inline-block btn btn-danger px-5 py-2 mt-3 rounded me-2"
                            href="/xem-phim/116/nhim-sonic-2?tap=full"><span class="me-1"><i
                            class="fa-solid fa-play"></i></span>Xem phim</a>
                        <!--                        <div id="btn-wishlist-container">-->
                        <!--                            <button class="d-inline-block btn bg-dark px-5 py-2 mt-3 rounded text-white"><span-->
                        <!--                                    class="me-1"><i class="fa-solid fa-heart"></i></span>Thêm vào yêu thích-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4" th:if="${movieDetail.getType().name().equals('PHIM_BO')}">
            <h4 class="mb-3">Tập phim</h4>
            <a class="btn btn-dark me-2" href="#" th:each="ep : ${listEpisodes}" th:text="${ep.name}">Tập
                1</a>

        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="modal-trailer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Trailer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="video-trailer" style="aspect-ratio: 16 / 9" width="100%"
                            src="https://www.youtube.com/embed/MjxPoqCvvVs?si=O86GBpvOpevCw1sa"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Phim đề xuất -->
<section class="mt-4 py-3 bg-body-tertiary">
    <div class="container">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Phim đề xuất</h3>
        </div>

        <div class="row">
            <div class="col-2" th:each="movie : ${listMovieSuggestion}">
                <a th:href="|/phim/${movie.id}/${movie.slug}|"
                   class="movie-item text-black text-decoration-none">
                    <div class="movie-poster rounded overflow-hidden">
                        <img
                                th:src="${movie.poster}"
                                th:alt="${movie.name}"
                        />
                    </div>
                    <div class="movie-info">
                        <p class="mt-2" th:text="${movie.name}">Love Next Door</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- Bình luận -->
<div class="mt-4 ms-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div>
                    <h5>Bình luận</h5>
                </div>
                <div>
                    <p>
                        Vui lòng <a href="#" class="text-decoration-none" style="color: #0068fc">đăng nhập</a> để
                        viết bình luận.
                    </p>
                </div>
            </div>
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal-review-rating">
                    Viết bình luận
                </button>

            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-review-rating" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Đánh giá phim</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="review-rating">
                            <div>
                                <h4 class="mb-3" th:text="${movieDetail.getName()}"></h4>
                            </div>
                            <div class="rating-stars">
                                <span class="rating-star" data-value="1">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <span class="rating-star" data-value="2">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="3">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="4">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="5">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="6">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="7">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="8">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="9">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                <span class="rating-star" data-value="10">
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                            </div>
                            <div>
                                <p class="my-3" id="rating-text">Chọn mức đánh giá</p>
                            </div>
                        </div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                                  placeholder="Hãy chia sẻ cảm nhận của bạn về bộ phim"></textarea>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary px-5">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row my-3" th:each="review : ${listReviews}">
                <div class="d-flex align-items-start">
                    <div class="col-1">
                        <img class="rounded-circle"
                             th:src="${review.user.getAvatar()}"
                             th:alt="${review.user.getName()}"
                        />
                    </div>
                    <div class="col-11 ms-3">
                        <h6 class="mb-0" th:text="${review.user.getName()}">
                            Lê Hải Dũng <small class="text-muted"
                                               th:text="${#temporals.format(review.getCreatedAt(),'dd/MM/yyyy')}">20/08/2024</small>
                        </h6>
                        <p class="mb-0">
                            <span>
                             <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                            </span>
                            <span th:text="${review.getRating()}"></span>
                            <span th:if="${review.getRating() >=8 }">Xuất sắc</span>
                            <span th:if="${review.getRating() >=5 && review.getRating() <8 }">Tạm ổn</span>
                            <span th:if="${review.getRating() >=0 && review.getRating() <5 }">Không hay</span>
                        </p>
                        <p class="text-muted" th:text="${review.getContent()}">nhạt như nước ốc</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div class="d-flex justify-content-center mt-3" th:if="${listReviews.getTotalPages()} > 1">
            <nav aria-label="Page navigation example">
                <ul class="pagination gap-1">
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="|/phim/${movieDetail.getId()}/${movieDetail.getSlug()}?page=${currentPage - 1}|"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="number : ${#numbers.sequence(1, listReviews.getTotalPages())}">
                        <a class="page-link"
                           th:classappend="${currentPage == number ? 'active' : ''}"
                           th:href="|/phim/${movieDetail.getId()}/${movieDetail.getSlug()}?page=${number}|"
                           th:text="${number}">1</a></li>
                    <li class="page-item"
                        th:classappend="${currentPage == listReviews.getTotalPages() ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="|/phim/${movieDetail.getId()}/${movieDetail.getSlug()}?page=${currentPage + 1}|"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img
                        src="https://motchilltv.io/logo_motchill.png"
                        alt=""
                        class="logo"
                />
                <p class="text-white mt-3">
                    Motchill - Xem phim online vietsub chất lượng cao miễn phí, nhiều
                    thể loại phim phong phú, đặc sắc, giao diện trực quan, thuận tiện,
                    tốc độ tải nhanh, thường xuyên cập nhật các phim mới.
                </p>
            </div>
            <div class="col">
                <h5 class="text-uppercase text-white mb-3">Danh mục</h5>
                <ul class="p-0">
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">Phim Mới</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">Phim Bộ</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">Phim Lẻ</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Phim Chiếu Rạp</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5 class="text-uppercase text-white mb-3">Thể loại</h5>
                <ul class="p-0">
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Phim Cổ Trang</a
                        >
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Phim Đam Mỹ</a
                        >
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Phim Bách Hợp</a
                        >
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Phim Viễn Tưởng</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5 class="text-uppercase text-white mb-3">Điều khoản</h5>
                <ul class="p-0">
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">DMCA</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">Liên Hệ</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white">Privacy</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-decoration-none text-white"
                        >Terms of Service</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5 class="text-uppercase text-white mb-3">Social</h5>
                <div class="fs-3">
                    <a href="" class="text-decoration-none">
                        <i
                                class="fa-brands fa-square-facebook"
                                style="color: #0a5ae6"
                        ></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i
                                class="fa-brands fa-square-twitter"
                                style="color: #74c0fc"
                        ></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-brands fa-youtube" style="color: #f90101"></i
                        ></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--my JS-->
<script th:src="@{/web-assets/js/main.js}"></script>
<!-- JS bootstrap -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>

</body>
</html>
