<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${book == null ? 'Not found' : book.title}">Title</title>
</head>
<body>

<h1>Welcome to my webpage!</h1>

<th:block th:if="${book != null}">
  <h2>Thong tin sach</h2>
  <p th:text="${book.title}"></p>
  <p th:text="${book.author}"></p>
  <p th:text="${book.year}"></p>
</th:block>
<h2 th:unless="${book != null}">Book not found</h2>


<h2>Related Books</h2>
<div th:each="book : ${relatedBooks}">
  <p th:text="${book.title}"></p>
  <p th:text="${book.author}"></p>
  <p th:text="${book.year}"></p>
  <hr>
</div>

</body>
</html>